<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Teams</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament_teams.each do |tournament_team| %>
      <tr>
        <td><%= tournament_team.team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
